---
title: Papers and Preprints
layout: default
---
<h1>{{ page.title }}</h1>

<p>This page lists my papers and preprints. Clicking on a title will take you to a page summarizing the paper's main results.</p>

{% assign listofpubs = site.publications | sort: 'date' | reverse %}
{% for paper in listofpubs %}
    {% if paper.pubtype contains 'paper' %}
        {% assign listofints = site.interests | where_exp:"item","paper.tags contains item.tag" | sort: 'priority' %}
        {% assign numberofints = listofints | size %}
        {% if numberofints > 0 %}
            {% assign printedints = '' | split: '' %}
            {% assign startoflink = '<a href="' %}
            {% assign middleoflink = '">' %}
            {% assign endoflink = '</a>' %}
            {% for interest in listofints %}
                {% assign fulllink = '' | append: startoflink | append: site.url | append: interest.url | append: middleoflink | append: interest.title | append: endoflink %}
                {% assign formattedinterest = fulllink | split:'&emsp;' %}
                {% assign printedints = printedints | concat: formattedinterest %}
            {% endfor %}
        {% endif %}
        <h2><a href="{{ paper.url }}">{{ paper.title }}</a></h2>
        <p style="text-align: center;">{% assign authorCount = paper.authors | size %}
            {% if authorCount == 0 %}
                No author
            {% elsif authorCount == 1 %}
                {{ paper.authors | first }}
            {% else %}
                {% for author in paper.authors %}
                     {% if forloop.first %}{{ author }}{% elsif forloop.last %} and {{ author }}{% else %}, {{ author }}{% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <p style="text-align: center;">{{ paper.citation }}</p>
        <p><strong>Abstract:</strong> {{ paper.abstract }}</p>
        {% if numberofints > 0 %}<p><strong>Tags:</strong> {{ printedints | array_to_sentence_string }}</p>{% endif %}
    {% endif %}
{% endfor %}
