---
title: Seminars
layout: default
---
<h1>{{ page.title }}</h1>

<p>I have presented many seminars throughout the years. This is a list of my favorites. They are accompanied by video recordings, lecture notes,  slideshows, etc whenever possible. Seminars are chronologically ordered, with older entries at the bottom of the page.</p>

{% assign listofseminars = site.seminars | sort: 'date' | reverse %}
{% for seminar in listofseminars %}
    {% assign numberofarxivs = seminar.relatedarxiv | size %}
    {% assign listofints = site.interests | where_exp:"item","seminar.tags contains item.tag" | sort: 'priority' %}
    {% assign printedints = '' %}
    {% for interest in listofints %}
        {% assign formattedinterest = '<a href="{{ interest.url }}">{{ interest.title }}</a>' %}
        {% assign printedints = printedints | concat: formattedinterest %}
    {% endfor %}
    <h2>{{ seminar.title }}</h2>
    <h3>{{ seminar.subtitle }}</h3>
    <p><strong>Abstract:</strong> {{ seminar.abstract | smartify }}</p>
    <p><strong>Tags:</strong> {{ printedints | array_to_sentence_string }}</p>
    <p>{{ seminar.remark }}</p>
    {{ seminar.lecturenotes }}
    {{ seminar.slideshow }}
    {{ seminar.poster }}
    {{ seminar.videorecordings }}
    {% if numberofarxivs > 0 %}
        {% assign listofarxivs = site.publications | where:"arxiv",seminar.relatedarxiv | sort:'date' | reverse %}
        <p><strong>Related publications:</strong></p>
          <ul>
            {% for pub in listofarxivs %}
                <li>
                  {{ pub.citation | smartify }} Summarized <a href="{{ pub.url }}">here</a>.
                </li>
            {% endfor %}
          </ul>
    {% endif %}
    <br>
{% endfor %}
