{%- assign entry = include.entry -%}

{%- if entry.author -%}
    {%- assign authors = entry.author -%}
    {%- for authorn in authors -%}
        {%- if authorn.name -%}
            {%- include authorname.html name=authorn.name -%}
        {%- else -%}
            {%- include authorname.html key=authorn -%}
        {%- endif -%}
        {%- if forloop.last -%}
            . 
        {% elsif forloop.first and forloop.length==2 %}
             and 
        {% elsif forloop.index==forloop.length | minus: 1 -%}
            , and 
        {%- else -%}
            , 
        {% endif -%}
    {%- endfor -%}
{%- endif -%}