{% assign entry = include.entry %}

{% if entry.author %}
    {%- assign authors = entry.author -%}
    {%- assign n = authors | size -%}

    {%- if n == 1 -%}
        {% include authorname.html key=authors[0] %}

    {%- elsif n == 2 -%}
        {% include authorname.html key=authors[0] %}
        and
        {% include authorname.html key=authors[1] %}

    {%- elsif n > 2 -%}
        {%- for a in authors -%}
            {%- if forloop.last -%}
                and {% include authorname.html key=a %}
            {%- else -%}
                {% include authorname.html key=a %},
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endif %}