{% assign start = include.start %}
{% assign end = include.end %}

{% assign s_day = start | date: "%d" %}
{% assign s_month = start | date: "%b" %}
{% assign s_year = start | date: "%Y" %}

{% assign e_day = end | date: "%-d" %}
{% assign e_month = end | date: "%b" %}
{% assign e_year = end | date: "%Y" %}

{% if start == end %}
  {{ s_day }} {{ s_month }} {{ s_year }}
{% elsif s_year == e_year and s_month == e_month %}
  {{ s_day }}–{{ e_day }} {{ s_month }} {{ s_year }}
{% elsif s_year == e_year %}
  {{ s_day }} {{ s_month }}–{{ e_day }} {{ e_month }} {{ s_year }}
{% else %}
  {{ s_day }} {{ s_month }} {{ s_year }}–{{ e_day }} {{ e_month }} {{ e_year }}
{% endif %}
