{%- assign listofinterests = site.interests | sort: "priority" -%}

{%- if include.stage -%}
    {%- assign taglist = "" | split: "" -%}
    {%- for pub in site.publications | where_exp:"item","item.stage == include.stage" -%}
        {%- for tag in pub.tags -%}
            {%- assign taglist = taglist | push: tag -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- assign taglist = taglist | uniq -%}
{%- elsif include.taglist -%}
    {%- assign taglist = include.taglist | uniq -%}
{%- endif -%}

{%- assign listofinterests = listofinterests | where_exp:"item","taglist contains item.tag" -%}
{%- assign second_to_last=listofinterests.size | minus: 1 -%}
{%- for interest in listofinterests -%}
    <a href="{{ interest.url }}">{{ interest.title }}</a>
    {%- if forloop.last -%}
        
    {%- elsif forloop.first and forloop.length==2 %}
            and 
    {% elsif forloop.index==second_to_last -%}
        , and 
    {% else -%}
        , 
    {% endif -%}
{%- endfor -%}