{%- assign all_interests = site.interests | sort: "priority" -%}

{%- if include.stage -%}
    {%- assign taglist = "" | split: "" -%}
    {%- for pub in site.publications | where_exp:"item","item.stage == include.stage" -%}
        {%- for tag in pub.tags -%}
            {%- assign taglist = taglist | push: tag -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- assign taglist = taglist | uniq -%}
{%- elsif include.taglist -%}
    {%- assign taglist = include.taglist | uniq -%}
{%- endif -%}

{%- assign filtered_interests = all_interests | where_exp:"item","taglist contains item.tag" -%}
{%- assign second_to_last=filtered_interests.size | minus: 1 -%}
{%- for interest in filtered_interests -%}
    <a href="{{ interest.url }}">{{ interest.title }}</a>
    {%- if forloop.last -%}
        
    {%- elsif forloop.first and forloop.length==2 %}
            and 
    {% elsif forloop.index==second_to_last -%}
        , and 
    {% else -%}
        , 
    {% endif -%}
{%- endfor -%}
{%- assign taglist = nil -%}
{%- assign filtered_interests = nil -%}
{%- assign all_interests = nil -%}