{%- assign listoftopics = "" | split: "" -%}
{%- for pub in site.publications | where_exp:"item","item.stage == include.stage" -%}
    {%- for tag in pub.tags -%}
        {%- assign listoftopics = listoftopics | push: tag -%}
    {%- endfor -%}
{%- endfor -%}
{%- assign listoftopics = listoftopics | uniq -%}
{%- case include.stage -%}
    {%- when 'phd' -%}
        {%- assign phdtopics = listoftopics -%}
    {%- when 'msc' -%}
        {%- assign msctopics = listoftopics -%}
        MSc topics: {{ msctopics }}
{%- endcase -%}
{%- assign listoftopics = nil -%}