{%- assign listoftopics = "" | split: "" -%}
{%- for pub in site.publications | where_exp:"item","item.stage == include.stage" -%}
    {%- for tag in pub.tags -%}
        {%- assign listoftopics = listoftopics | push: tag -%}
    {%- endfor -%}
{%- endfor -%}
{%- assign listoftopics = listoftopics | uniq -%}
{%- if include.stage=='phd' -%}
    {%- assign phdtopics = listoftopics -%}
{%- elsif include.stage=='msc' -%}
    {%- assign msctopics = listoftopics -%}
        MSc topics: {{ msctopics }}
{%- endif -%}
{%- assign listoftopics = nil -%}