{%- assign presentations = include.presentations -%}

<ul>
{%- for present in presentations limit: include.limit -%}
    <li>
        {%- include event.html key=present.key -%}
        {%- if present.format -%}
            {%- case present.format -%}
                {%- when 'poster' %}
                     Poster presentation
                {%- when 'flash' %}
                     Flash talk
                {%- when 'contributed' %}
                     Contributed talk
                {%- when 'invited' %}
                     Invited talk
            {%- endcase -%}
            {%- if present.langid -%}
                {%- case present.langid -%}
                    {%- when "en" %}
                         (in English).
                    {%- when "pt" %}
                         (in Portuguese).
                    {%- when "it" %}
                         (in Italian).
                    {%- else -%}
                        .
                {%- endcase -%}
            {%- else -%}
                .
            {%- endif -%}
        {%- else -%}
            {%- if present.langid -%}
                {%- case present.langid -%}
                    {%- when "en" %}
                         Presented in English.
                    {%- when "pt" %}
                         Presented in Portuguese.
                    {%- when "it" %}
                         Presented in Italian.
                    {%- else -%}
                {%- endcase -%}
            {%- endif -%}
        {%- endif -%}
    </li>
{%- endfor -%}
</ul>