{%- assign resource=include.resource -%}

<p><strong>{{ include.label }}:</strong>
    <a href="{%- include relative_or_absolute_url.html src=resource.src %}" target="_blank">available here</a>
    {%- if resource.langid and resource.note %}
            (in {{ site.data.languages[resource.langid] }}, {{ resource.note }})
    {%- elsif resource.langid %}
            (in {{ site.data.languages[resource.langid] }})
    {%- elsif resource.note %}
            ({{ resource.note }})
    {%- endif -%}
</p>