{%- assign seminar=include.seminar -%}

<h2>{{ seminar.title }}</h2>
{%- if seminar.subtitle -%}
    <h3>{{ seminar.subtitle }}</h3>
{%- endif -%}
{%- if seminar.abstract -%}
    <p><strong>Abstract:</strong> {{ seminar.abstract | smartify }}</p>
{%- endif -%}
{%- if seminar.tags -%}
    <p><strong>Tags:</strong> {%- include interests.html taglist=seminar.tags -%}</p>
{%- endif -%}
{%- if seminar.presentations -%}
    <p><strong>Presented at:</strong></p> {%- include presentations.html presentations=seminar.presentations -%}
{%- elsif seminar.remark -%}
    <p>{{ seminar.remark }}</p>
{%- endif -%}
{%- if seminar.lecturenotes -%}
    {%- include resourcefile.html label="Lecture notes" resource=seminar.lecturenotes -%}
{%- endif -%}
{%- if seminar.slideshow -%}
    {%- include resourcefile.html label="Slideshow" resource=seminar.slideshow -%}
{%- endif -%}
{%- if seminar.poster -%}
    {%- include resourcefile.html label="Poster" resource=seminar.poster -%}
{%- endif -%}
{%- if seminar.videorecordings.src -%}
    <iframe src="{{ seminar.videorecordings.src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{%- endif -%}
{%- if seminar.relatedarxiv -%}
    <p><strong>Related publications:</strong></p> {%- include publications.html arxivlist=seminar.relatedarxiv -%}
{%- endif -%}