{%- assign seminar=include.seminar -%}

<h2>{{ seminar.title }}</h2>
{%- if seminar.subtitle -%}
    <h3>{{ seminar.subtitle }}</h3>
{%- endif -%}
{%- if seminar.abstract -%}
    <p><strong>Abstract:</strong> {{ seminar.abstract | smartify }}</p>
{%- endif -%}
{%- if seminar.tags -%}
    <p><strong>Tags:</strong> {%- include interests.html taglist=seminar.tags -%}</p>
{%- endif -%}
{%- if seminar.presentations -%}
    <p><strong>Presented at:</strong></p> {%- include presentations.html presentations=seminar.presentations -%}
{%- elsif seminar.remark -%}
    <p>{{ seminar.remark }}</p>
{%- endif -%}
{%- if seminar.lecturenotes -%}
    <p><strong>Lecture notes:</strong> {{ seminar.lecturenotes }}</p>
{%- endif -%}
{%- if seminar.slideshow -%}
    <p><strong>Slideshow:</strong> 
        <a href="{{ seminar.slideshow.url }}" target="_blank">
            available here
        </a>
        {%- if seminar.slideshow.note -%}
        ({{ seminar.slideshow.note }})
        {%- endif -%}
    </p>
{%- endif -%}
{%- if seminar.poster -%}
    <p><strong>Poster:</strong> 
        <a href="{{ seminar.poster.url }}" target="_blank">
            available here
        </a>
        {%- if seminar.poster.note -%}
        ({{ seminar.poster.note }})
        {%- endif -%}
    </p>
{%- endif -%}
{%- if seminar.videorecordings.src -%}
    <iframe src="{{ seminar.videorecordings.src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{%- endif -%}
{%- if seminar.relatedarxiv -%}
    <p><strong>Related publications:</strong></p> {%- include publications.html arxivlist=seminar.relatedarxiv -%}
{%- endif -%}