{%- assign s = include.source -%}

{%- case s.type -%}

{%- when "book" -%}
  <em>{{ s.title }}</em>. ({{ s.publisher }}: {{ s.location }}, {{ s.year }}). {% include eprintdata.html source=s %}

{%- when "article" -%}
  “{{ s.title }}”.
  {% if s.journal -%} 
    {%- if s.doi -%}
      <a href="https://doi.org/{{ s.doi }}" target="_blank">{% include journaldata.html source=s %}</a>.
    {%- else -%}
      {% include journaldata.html source=s %}.
    {%- endif -%}
  {%- endif -%}
  {% include eprintdata.html source=s %}

{%- when "thesis" -%}
  {%- if s.url -%}
    “<a href="{{ s.url }}" target="_blank">{{ s.title }}</a>”.
  {%- else -%}
    “{{ s.title }}”.
  {%- endif -%}
  {%- if s.thesistype %}
     {{ s.thesistype }}.
  {%- endif %}
   {{ s.location }}: {{ s.institution }}, {{ s.date | date: "%Y"}}. {% include eprintdata.html source=s %}

{%- when "unpublished" -%}
  {%- if s.url -%}
    “<a href="{{ s.url }}" target="_blank">{{ s.title }}</a>”.
  {%- else -%}
    “{{ s.title }}”.
  {%- endif %}
   {{ s.date | date: "%Y"}}. {% include eprintdata.html source=s %}

{%- when "tv" -%}
  <em>{{ s.series }}</em>
  {%- if s.season and s.episode -%}
    , S{{ s.season | prepend: "0" | slice: -2, 2 }}E{{ s.episode | prepend: "0" | slice: -2, 2 }}
  {%- endif -%}
  {%- if s.title -%}
    : “{{ s.title }}”
  {%- endif -%}
  {%- if s.year -%}
    ({{ s.year }})
  {%- endif -%}.

{%- when "movie" -%}
  <em>{{ s.title }}</em>
  {%- if s.year -%}
    ({{ s.year }})
  {%- endif -%}.

{%- else -%}
  {{ s.title }}
  {%- if s.year -%}
    ({{ s.year }})
  {%- endif -%}.
{%- endcase -%}
