---
title: Short CV
---
<h1>{{ page.title }}</h1>

<p>This is my brief CV (click <a href="https://alves-nickolas.github.io/pdf/CV.pdf" target="_blank">here</a> for a more detailed version). You can learn more about my research interests <a href="https://alves-nickolas.github.io/about/interests/">here</a>. You can find more information about me at the links at the bottom of the website.</p>

<h2>Doctor in Physics</h2>
<h3>September 2023 – Ongoing</h3>

<p><strong>Advisor:</strong> {% include authorname.html key='agsl' -%}</p>

<p><strong>Institution:</strong> <a href="https://fisica.ufabc.edu.br/index.php/en/" target="_blank">Federal University of ABC</a>, Santo André, São Paulo, Brazil</p>

<p><strong>Funding:</strong> Coordenação de Aperfeiçoamento de Pessoal de Nível Superior—Brasil (CAPES)—Finance Code 001, and São Paulo Research Foundation (FAPESP)—Grant <a href="https://bv.fapesp.br/en/bolsas/229389/the-sky-as-a-killing-horizon-and-other-topics-on-the-infrared-structure-of-gravity/" target="_blank">25/05161-0</a></p>

{%- include listoftopics.html stage='phd' -%}
<p><strong>Topics:</strong> {% include interests.html taglist=phdtopics -%}</p>

<p><strong>Main results:</strong></p>
<ul>
    <li> showed how linear acoustics admits asymptotic symmetries and an infrared triangle (<a href="https://alves-nickolas.github.io/abs/2512.15796/">2512.15796</a>)
    <li> introduced the notion of asymptotic (conformal) Killing horizons to give a generalized definition of asymptotic symmetry groups that can reproduce both the BMS and DMP groups (<a href="https://alves-nickolas.github.io/abs/2504.12514/">2504.12514</a>, <a href="https://alves-nickolas.github.io/abs/2504.12521/">2504.12521</a>)
    <li> showed that barotropic, spherically-symmetric stars with negative mass are unstable in general relativity (<a href="https://alves-nickolas.github.io/abs/2408.00154/">2408.00154</a>) 
</ul>

<p><strong>Related publications:</strong></p>
{% include publications.html stage="phd" %}

<h2>Master in Physics</h2>
<h3>February 2021 – April 2023</h3>

<p><strong>Advisor:</strong> {% include authorname.html key='agsl' -%}</p>

<p><strong>Institution:</strong> <a href="https://fisica.ufabc.edu.br/index.php/en/" target="_blank">Federal University of ABC</a>, Santo André, São Paulo, Brazil</p>

<p><strong>Funding:</strong> Coordenação de Aperfeiçoamento de Pessoal de Nível Superior—Brasil (CAPES)—Finance Code 001, and São Paulo Research Foundation (FAPESP)—Grant <a href="https://bv.fapesp.br/en/bolsas/199394/the-functional-renormalization-group-in-quantum-field-theory-in-curved-spacetimes/" target="_blank">21/07372-7</a></p>

<p><strong>Topics:</strong> {% include interests.html taglist=msctopics -%}</p>

<p><strong>Main results:</strong></p>
<ul>
    <li> computed the functional renormalization group flow for an Unruh–DeWitt detector in Minkowski spacetime (<a href="https://alves-nickolas.github.io/abs/2305.17453/">2305.17453</a> and work to appear) 
</ul>

<p><strong>Related publications:</strong></p>
{% include publications.html stage="msc" %}

<h2>Bachelor in Physics</h2>
<h3>February 2017 – December 2020</h3>

<p><strong>Advisor:</strong> {% include authorname.html key='jcab' -%}</p>

<p><strong>Institution:</strong> <a href="http://portal.if.usp.br/ifusp/en" target="_blank">Institute of Physics, University of São Paulo</a>, São Paulo, São Paulo, Brazil</p>

<p><strong>Funding:</strong> São Paulo Research Foundation (FAPESP)—Grant <a href="https://bv.fapesp.br/en/bolsas/187017/hyperbolic-equations/" target="_blank">19/12158-4</a></p>

<!--<p>In Brazil, it is common for undergraduate students to take on a "scientific initiation" project. In theoretical and mathematical physics, this is usually a project ranging from six months to a few years consisting of reviewing a specific topic within an area of interest. I carried out my project on hyperbolic equations of mathematical physics, aiming at being prepared to later start a master's degree on quantum field theory in curved spacetimes.</p>-->
