---
---

@import "{{ site.theme }}";

/* Base */
@import "base/variables";
@import "base/fonts";
@import "base/typography";
@import "base/media";

/* Layout */
@import "layout/navigation";

a:link {
	color: #f26a49
}

a:visited {
	color: #f0be52
}

a:active {
	color: #f19e58
}

a:hover {
	color: #f19e58;
}

.page__content {
  text-align: justify;
}

@media print, screen and (max-width: 480px) {
	#header {
		margin-top:-20px
	}
	section {
		margin-top:40px
	}
}

section #title h1 {
 font-family:'MontserratLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 font-size:40px;
 text-align:center;
 line-height:36px
}

section #title p {
 color:#d7cfbe;
 font-family:'MontserratLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 font-size:18px;
 text-align:center
}

section #title .credits {
 font-size:11px;
 font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 color:#696969;
 margin-top:-10px
}