---
---

@import "{{ site.theme }}";
a:link {
	color: #f26a49
}

a:visited {
	color: #f0be52
}

a:active {
	color: #f19e58
}

a:hover {
	color: #f19e58;
}

.page__content {
  text-align: justify;
}

img {
	max-width: 100%; 
	height: auto;
}

p {
	text-align:justify;
}

#mybutton {
	background-color: #f26a49;
	border: none;
	outline: none;
	background-color: #f26a49;
	color: #202020;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
}

#mybutton:hover {
	background-color: #f19e58;
}
