---
---

@import "{{ site.theme }}";
@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratLightItalic';
  src: url("../fonts/Montserrat-LightItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratItalic';
  src: url("../fonts/Montserrat-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBoldItalic';
  src: url("../fonts/Montserrat-SemiBoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("../fonts/Montserrat-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}

a:link {
	color: #f26a49
}

a:visited {
	color: #f0be52
}

a:active {
	color: #f19e58
}

a:hover {
	color: #f19e58;
}

.page__content {
  text-align: justify;
}

img {
	max-width: 100%; 
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	padding-bottom: 20px;
}

p {
	text-align:justify;
}

ul {
	text-align:justify;
}

ol {
	text-align:justify;
}

nav a {
	background-color: #202020;
	color: #f26a49;
}

nav {
	background-color: #202020;
	box-shadow: 0px 3px 3px #151515;
}

a.button {
	font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #202020;
	border: none;
	color: #f26a49;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

a.button:hover {
	background-color: #f19e58;
	color: #202020
}


.dropbtn {
	font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #202020;
	border: none;
	color: #f26a49;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropbtn {
	background-color: #f19e58;
	color: #202020
}

.dropdown-content {
	font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: none;
	position: absolute;
	background-color: #202020;
	min-width: 100%;
	margin-left: auto; 
	margin-right: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #f26a49;
	padding: 8px 15px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f19e58;
	color: #202020
}

.dropdown:hover .dropdown-content {display: block;}


#Menu {
	text-align: center;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	padding:2px 0 2px 0; 
	background-color: #202020;
	z-index: 99;
}

@media print, screen and (max-width: 480px) {
	#header {
		margin-top:-20px
	}
	section {
		margin-top:40px
	}
	nav {
		display:block
	}
}

body {
 padding:0px 0 20px 0px;
 margin:0px;
 font:14px/1.5 "MontserratRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
 color:#f0e7d5;
 font-weight:normal;
 background-color: #202020;
 background-attachment:fixed !important;
 background:linear_gradient(#2a2a29, #1c1c1c)
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color:#e8e8e8;
 margin:0 0 10px;
 font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal
}

strong {
 font-family:'MontserratBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-weight:normal
}

th {
 text-align:left;
 padding:5px 10px;
 border-bottom:1px solid #434343;
 color:#b6b6b6;
 font-family:'MontserratSemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-weight:normal
}

dt {
 color:#F0E7D5;
 font-family:'MontserratSemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-weight:normal
}

#header nav li {
 font-family:'MontserratLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 list-style:none;
 display:inline;
 color:white;
 line-height:50px;
 text-shadow:0px 1px 0px rgba(0,0,0,0.2);
 font-size:14px
}

section #title h1 {
 font-family:'MontserratLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 font-size:40px;
 text-align:center;
 line-height:36px
}

section #title p {
 color:#d7cfbe;
 font-family:'MontserratLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 font-size:18px;
 text-align:center
}

section #title .credits {
 font-size:11px;
 font-family:'MontserratRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight:normal;
 color:#696969;
 margin-top:-10px
}

blockquote {
  margin: 1.8em 0;
  padding: 1em 1.25em;
  border-left: 4px solid #f26a49;
  background-color: #1c1c1c;
  color: #f0e7d5;
  font-family: 'MontserratLightItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote p {
  margin: 0;
}
