---
---

@import "{{ site.theme }}";
body{
	background-color: #202020;
}

a:link {
	color: #f26a49
}

a:visited {
	color: #f0be52
}

a:active {
	color: #f19e58
}

a:hover {
	color: #f19e58;
}

.page__content {
  text-align: justify;
}

img {
	max-width: 100%; 
	height: auto;
}

p {
	text-align:justify;
}

#mybutton {
	background-color: #f26a49;
	border: none;
	outline: none;
	background-color: #f26a49;
	color: #202020;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
}

#mybutton:hover {
	background-color: #f19e58;
}

nav a {
	padding: 0 15px 0 15px;
}

nav {
	box-shadow: 0px 3px 3px #151515;
}

.button {
	background-color: #f26a49;
	border: none;
	color: #202020;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
	background-color: #f19e58;
}

.navbutton {
	background-color: #202020;
	border: none;
	color: #f26a49;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.navbutton:hover {
	background-color: #f19e58;
	color: #202020
}

.navbuttona {
	background-color: #f26a49;
	border: none;
	color: #202020;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.navbuttona:hover {
	background-color: #f19e58;
}

.dropbtn {
  background-color: #202020;
	border: none;
	color: #f26a49;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f26a49;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #f19e58}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f19e58; color: #202020} 


#Menu {
	text-align: center;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	padding:2px 0 2px 0; 
	background-color: #202020;
	z-index: 99;
}

@media print, screen and (max-width: 480px) {
	#header {
		margin-top:-20px
	}
	section {
		margin-top:40px
	}
	nav {
		display:block
	}
}
