---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content | smartify }}

{% assign pubs = site.publications %}
{% assign taglist = pubs | map: 'tags' | join: ',' | split: ',' | group_by: tag %}
{% for tag in taglist %}
  {% if tag.name == page.tag %}
    {% if tag.size > 0%}
      <h2>My Publications on and Around This Topic</h2>
      <ul>
        {% for pub in pubs %}
          {% if pub.tags contains tag.name %}
            <li>
              {{ pub.citation | smartify }}<!-- Summarized <a href="{{ pub.url }}">here</a>.-->
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endfor %}
