---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content | smartify }}

{% for tag in site.tags %}
  {% if tag[0] == page.pagetag %}
    {% assign pubs = tag[1] %}
    {% assign pubsize = pubs | size %}
    {% if pubsize > 0 %}
      {% assign pubs = pubs | sort: 'date' | reverse %}
        <h2>My Work on This Topic</h2>
        <ul>
          {% for paper in pubs %}
            <li>
              {{ paper.citation }} <a href="{{ paper.url }}">Summarized here</a>.
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endif %}
{% endfor %}
