---
layout: default
---
<h1>{{ page.title }}</h1>
<h3>{{ page.authors | array_to_sentence_string }}</h3>
{% if page.citation %}
  <p style="text-align: center;">{{ page.citation }}</p>
{% endif %}
{% if page.abstract %}
  <p><strong>Abstract: </strong>{{ page.abstract }}</p>
{% endif %}
{% if page.tags %}
  <p><strong>Tags:</strong> {% include interests.html taglist=page.tags %}</p>
{% endif %}
{% if page.remark %}
  <p><strong>Remark: </strong>{{ page.remark }}</p>
{% endif %}

{{ content }}

{% if page.relatedarxiv %}
  <h2>See also:</h2>
  {% include publications.html arxivlist=page.relatedarxiv %}
{% endif %}
