nav {
  background-color: $bg-main;
  box-shadow: 0px 3px 3px $bg-darker;
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 99;
  text-align: center;
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: inline-flex;
}

.nav-list > li {
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover > a {
    background-color: $accent-secondary;
    color: $bg-main;
  }

  &:hover .dropdown-content a {
    color: $accent-primary;
  }

  &:hover .dropdown-content a:hover {
    background-color: $accent-secondary;
    color: $bg-main;
  }
}

nav a, nav a:link, nav a:visited {
  font-family: $font-regular;
  background-color: $bg-main;
  border: none;
  color: $accent-primary;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* Dropdown */
.dropdown-content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: $bg-main;
  min-width: 100%;
  top: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: $accent-primary;
  padding: 8px 15px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media print, screen and (max-width: 480px) {
  nav {
    display: block;
  }

  .nav-list {
    display: block;
  }

  .nav-list > li {
    display: block;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
  }
}