%nav-button {
	font-family: $font-regular;
	background-color: $bg-main;
	border: none;
	color: $accent-primary;
	padding: 8px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}


a.button {
	@extend %nav-button;
}

a.button:hover {
	background-color: $accent-secondary;
	color: $bg-main
}

nav a, nav a:link, nav a:visited {
    color: $accent-primary;
    background-color: $bg-main;
}

nav {
	background-color: $bg-main;
	box-shadow: 0px 3px 3px $bg-darker;
}

#Menu {
	text-align: center;
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
	padding:2px 0 2px 0; 
	background-color: $bg-main;
	z-index: 99;
}

.dropbtn {
	@extend %nav-button;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropbtn {
	background-color: $accent-secondary;
	color: $bg-main
}

.dropdown-content {
	font-family:$font-regular;
	display: none;
	position: absolute;
	background-color: $bg-main;
	min-width: 100%;
	margin-left: auto; 
	margin-right: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: $accent-primary;
	padding: 8px 15px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: $accent-secondary;
	color: $bg-main
}

.dropdown:hover .dropdown-content {display: block;}

@media print, screen and (max-width: 480px) {
	nav {
		display:block
	}
}

#header nav li {
 font-family:$font-light;
 font-weight:normal;
 list-style:none;
 display:inline;
 color:$text-main;
 line-height:50px;
 text-shadow:0px 1px 0px rgba(0,0,0,0.2);
 font-size:14px
}