nav {
    background-color: $bg-main;
    box-shadow: 0px 3px 3px $bg-darker;
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 99;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
}

.nav-list > li {
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover > a {
        background-color: $accent-secondary;
        color: $bg-main;
    }

    &:hover > .parent-toggle {
        background-color: $accent-secondary;
        color: $bg-main;
    }

    &:hover .dropdown-content a {
        color: $accent-primary;
    }

    &:hover .dropdown-content a:hover {
        background-color: $accent-secondary;
        color: $bg-main;
    }
}

nav a, nav a:link, nav a:visited, .parent-toggle {
    font-family: $font-regular;
    background-color: $bg-main;
    border: none;
    color: $accent-primary;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

/* Dropdown */
.dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: $bg-main;
    min-width: 100%;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $accent-primary;
    padding: 8px 15px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media print, screen and (max-width: 480px) {
    nav {
        display: block;
    }

    .nav-list {
        display: block;
    }

    .nav-list > li {
        display: block;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }
}

/* Hamburger (hidden on desktop) */
#nav-toggle {
  display: none;
  background: $bg-main;
  border: none;
  color: $accent-primary;
  font-size: 24px;
  padding: 6px 12px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #nav-toggle {
    display: inline-block;
  }

  .nav-list {
    display: none; /* hidden by default */
    flex-direction: column;
    width: 100%;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list > li {
    display: block;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    display: none;
  }

  .dropdown.show .dropdown-content {
    display: block;
  }

  nav a, nav a:link, nav a:visited, .parent-toggle {
    display: block;
    cursor: pointer;
    padding: 8px 15px;
    font-family: $font-regular;
    color: $accent-primary;
    background-color: $bg-main;
  }

  .nav-list > li {
    .dropdown-content a, &:hover .dropdown-content a {
      background-color: $accent-primary;  
      color: $bg-main;
    }
}
}