@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratLightItalic';
  src: url("../fonts/Montserrat-LightItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratItalic';
  src: url("../fonts/Montserrat-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBoldItalic';
  src: url("../fonts/Montserrat-SemiBoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("../fonts/Montserrat-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}