img {
    max-width: 100%; 
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

canvas {
    max-width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    padding-bottom: 20px;
}

@media print, screen and (max-width: 480px) {
    section {
        margin-top:40px
    }
}