/* Colors */
$bg-light: #2a2a2a;
$bg-main: #202020;
$bg-dark: #1c1c1c;
$bg-darker: #151515;

$text-main: #f0e7d5;
$text-muted: #b6b6b6;
$text-light: #e8e8e8;

$accent-primary: #f26a49;
$accent-secondary: #f19e58;
$accent-visited: #f0be52;

/* Fonts */
$font-light: 'MontserratLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-regular: 'MontserratRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-semibold: 'MontserratSemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'MontserratBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Sizes */
$base-font-size: 14px;
$base-line-height: 1.5;